<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PickViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D0D01CD1EB9660D005C7BE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D0D01E61EB9660D005C7BE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D0D01F11EB9660D005C7BE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
